<!DOCTYPE html>
<html>

<head>
    <title>Sorting Visualiser</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script defer type="text/javascript" src="app.js"></script>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="app">
        <div id="headerBar">
            <div id="pageTitle">Sorting Visualiser</div>
            <div id="controls">
                <div id="Dropdown"></div>
                <div class="sliderContainer">
                    <div class="sliderText">Adjust sorting speed</div>
                    <input class="slider" type="range" min="0" max="300" value="50" v-model="sortSpeed">
                </div>
                <div class="sliderContainer" v-if="!sorting">
                    <div class="sliderText"> Adjust array size</div>
                    <input class="slider" type="range" min="1" max="100" value="50" v-model="arraySize">
                </div>
                <button id="scramble" @click="scramble" v-if="!sorting">Scramble</button>
                <button id="startSorting" @click="bubbleSort" v-if="!sorting">Start Sorting</button>
            </div>
        </div>
        <div id="mainBody" :key="">
            <div class="valueBlockPair" v-for="(value,index) in values" :key="value.id" :style="{'width': blockWidth}">
                <div class="block" :class="[{green:values[index].sorted},{purple:values[index].active}]" :style="{'height':  values[index].id +'%'}"></div>
                <!--<div class="value">{{ value }}</div> -->
            </div>
        </div>
    </div>
</body>

</html>